<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:rabbitmq.properties"/>

    <!-- 配置ConnectionFactory -->
    <bean id="cachingConnectionFactory" class="org.springframework.amqp.rabbit.connection.CachingConnectionFactory">
        <property name="host" value="${rabbit.host}"/>
        <property name="port" value="${rabbit.port}"/>
        <property name="username" value="${rabbit.username}"/>
        <property name="password" value="${rabbit.password}"/>
        <property name="virtualHost" value="${rabbit.virtualHost}"/>
        <property name="channelCacheSize" value="${rabbit.channelCacheSize}"/>
    </bean>

    <!-- 配置RabbitAdmin -->
    <bean id="rabbitAdmin" class="org.springframework.amqp.rabbit.core.RabbitAdmin">
        <constructor-arg name="connectionFactory" ref="cachingConnectionFactory"/>
    </bean>

    <!-- 配置Queue -->
    <bean id="directQueue" class="org.springframework.amqp.core.Queue">
        <constructor-arg name="name" value="${rabbit.queue}"/>
    </bean>

    <!-- 配置RabbitTemplate -->
    <bean id="rabbitTemplate" class="org.springframework.amqp.rabbit.core.RabbitTemplate">
        <property name="connectionFactory" ref="cachingConnectionFactory"/>
        <property name="queue" value="${rabbit.queue}"/>
        <property name="routingKey" value="${rabbit.routingKey}"/>
    </bean>
</beans>